@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-right-color: transparent;
  animation: loader-rotate 1s linear infinite;
}

@layer components {
  .input {
    @apply shadow-lg border-2 py-2 px-4 rounded-md;
  }

  .btn-primary {
    @apply text-white py-2 px-6 bg-yellow hover:bg-yellow-light focus:bg-yellow-light;
  }

  .btn-secondary {
    @apply text-white py-2 px-6 bg-gray-500 hover:bg-gray-400 focus:bg-gray-400;
  }
}
